<!-- 
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a routerLink="/taskdemo">Add</a></li>
  <li role="presentation" class="active"><a routerLink="/header">Home</a></li>
  <li role="presentation" class="active"><a routerLink="/task">Display</a></li>
</ul>-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/header">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/alluser">user list<span class="sr-only">(current)</span></a></li>
       <!-- <li><a routerLink="/allCategory">Category</a></li>-->
        <li><a routerLink="/allcartype">Cartype</a></li>
        <li><a routerLink="/allbooking">Booklist</a></li>
        <li><a routerLink="/allbuscust">BusCustomers</a></li>
         <li><a routerLink="/alldriver">Drivers</a></li>
         <li><a routerLink="/allbus">Manage Bus</a></li>
         <li><a routerLink="/allfacility">Manage Facilities</a></li>
         <li><a routerLink="/allcity">Manage City</a></li>
         <li><a routerLink="/allfeedback">Feedbacks</a></li>
         <li><a routerLink="/allcarcust">Carcustomers</a></li>
         <li><a routerLink="/allcar">Manage Car</a></li>
         <li><a routerLink="/allfacility">Manage Facilities</a></li>
         <li><a routerLink="/allcancel">Cancelation</a></li>
         <li><a routerLink="/allpayment">Payments</a></li>

    <!--  <li><a routerLink="/employee">Employee</a></li>
        <li><a routerLink="/studentdata">Student</a></li>
        <li><a routerLink="/addstudent">Addstudent</a></li>-->

        
   <!--     <li><a>Addtask</a></li>-->
       </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>